<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="org.zerock.mapper.BoardMapper">
	
	<!-- 
	<mapper> 의 namespace 속성값을 Mapper인터페이스와 동일한 이름을 써야한다.
	<select> 태그의 id 속성값은 메서더의 이름과 일치 해야 한다. 
	XML에 사용한 CDATA 부분은 XML에서 부등호를 사용하기 위함이다.
	-->
	
	<select id="getList" resultType="org.zerock.domain.BoardVO">
	    <![CDATA[
 			select * from tbl_board where bno > 0
		]]>
	</select>
	
	<insert id="insert">
		insert into tbl_board (bno, title, content, writer) values(seq_board.nextval, #{title}, #{content}, #{writer})
	</insert>
	
	<insert id="insertSelectKey">
		<selectKey keyProperty="bno" order="BEFORE" resultType="long">
			select seq_board.nextval from dual
		</selectKey>
		insert into tbl_board(bno, title, content, writer) values(#{bno}, #{title}, #{content}, #{writer})
	</insert>
	
	<select id="read" resultType="org.zerock.domain.BoardVO">
		select * from tbl_board where bno = #{bno}
	</select>
	
	<delete id="delete">
		delete tbl_board where bno = #{bno}
	</delete>
	
	<update id ="update">
		update tbl_board set
		title = #{title},
		content = #{content},
		writer = #{writer},
		updateDate = sysdate
		where bno = #{bno}
	</update>
	
	
	<sql id="criteria">
		<trim prefix="(" suffix=") AND " prefixOverrides="OR">
					<foreach item="type" collection="typeArr">
						<trim prefix="OR">
							<choose>
								<when test="type == 'T'.toString()">
									title like '%'||#{keyword||'%'
								</when>
								<when test="type == 'C'.toString()">
									content like '%'||#{keyword}||'%'
								</when>
								<when test="type == 'W'.toString()">
									writer like '%'||#{keyword}||'%'
								</when>
							</choose>
						</trim>
					</foreach>
				</trim>
	</sql>
	
	
	<select id="getListWithPaging" resultType="org.zerock.domain.BoardVO">
		<![CDATA[
		 select bno, title, content, writer, regdate, updatedate
			from (
					select /*+INDEX_DESC(tbl_board pk_board) */
					  rownum rn, bno, title, content, writer, regdate, updatedate
					 from 
					  	tbl_board
					  where 
					  
			]]>
			
			<include refid ="criteria"></include>
			
		<![CDATA[
		       rownum <= #{pageNum} * #{amount}
					  )
			where rn > (#{pageNum} - 1 ) * #{amount}
		]]>
	</select>
	<!-- 
	CDATA 섹션은 XML에서 사용할 수 없는 부등호를 사용하기 위함이다.
	인라인뷰에서는 BoardVO를 구성하는데 필요한 모든 칼럼과 ROWNUM을 RN이라는 가명을 이용해서 만들어 주고 바깥쪽 SQL에서는 RN 칼럼을 조건으로 처리한다. -->
	
	
	<select id="getTotalCount" resultType="int">
	<![CDATA[
		select count(*) from tbl_board where bno > 0
	]]>
	</select>
	
	
	
	
	</mapper>